/* index.css */
/* PADDING in px from 1 - 100 */

/* Padding Utilities */
.p-px-1 {
  padding: 1px;
}
.p-px-2 {
  padding: 2px;
}
.p-px-3 {
  padding: 3px;
}
.p-px-4 {
  padding: 4px;
}
.p-px-5 {
  padding: 5px;
}
.p-px-6 {
  padding: 6px;
}
.p-px-7 {
  padding: 7px;
}
.p-px-8 {
  padding: 8px;
}
.p-px-9 {
  padding: 9px;
}
.p-px-10 {
  padding: 10px;
}
.p-px-11 {
  padding: 11px;
}
.p-px-12 {
  padding: 12px;
}
.p-px-13 {
  padding: 13px;
}
.p-px-14 {
  padding: 14px;
}
.p-px-15 {
  padding: 15px;
}
.p-px-16 {
  padding: 16px;
}
.p-px-17 {
  padding: 17px;
}
.p-px-18 {
  padding: 18px;
}
.p-px-19 {
  padding: 19px;
}
.p-px-20 {
  padding: 20px;
}
.p-px-21 {
  padding: 21px;
}
.p-px-22 {
  padding: 22px;
}
.p-px-23 {
  padding: 23px;
}
.p-px-24 {
  padding: 24px;
}
.p-px-25 {
  padding: 25px;
}
.p-px-26 {
  padding: 26px;
}
.p-px-27 {
  padding: 27px;
}
.p-px-28 {
  padding: 28px;
}
.p-px-29 {
  padding: 29px;
}
.p-px-30 {
  padding: 30px;
}
.p-px-31 {
  padding: 31px;
}
.p-px-32 {
  padding: 32px;
}
.p-px-33 {
  padding: 33px;
}
.p-px-34 {
  padding: 34px;
}
.p-px-35 {
  padding: 35px;
}
.p-px-36 {
  padding: 36px;
}
.p-px-37 {
  padding: 37px;
}
.p-px-38 {
  padding: 38px;
}
.p-px-39 {
  padding: 39px;
}
.p-px-40 {
  padding: 40px;
}
.p-px-41 {
  padding: 41px;
}
.p-px-42 {
  padding: 42px;
}
.p-px-43 {
  padding: 43px;
}
.p-px-44 {
  padding: 44px;
}
.p-px-45 {
  padding: 45px;
}
.p-px-46 {
  padding: 46px;
}
.p-px-47 {
  padding: 47px;
}
.p-px-48 {
  padding: 48px;
}
.p-px-49 {
  padding: 49px;
}
.p-px-50 {
  padding: 50px;
}
.p-px-51 {
  padding: 51px;
}
.p-px-52 {
  padding: 52px;
}
.p-px-53 {
  padding: 53px;
}
.p-px-54 {
  padding: 54px;
}
.p-px-55 {
  padding: 55px;
}
.p-px-56 {
  padding: 56px;
}
.p-px-57 {
  padding: 57px;
}
.p-px-58 {
  padding: 58px;
}
.p-px-59 {
  padding: 59px;
}
.p-px-60 {
  padding: 60px;
}
.p-px-61 {
  padding: 61px;
}
.p-px-62 {
  padding: 62px;
}
.p-px-63 {
  padding: 63px;
}
.p-px-64 {
  padding: 64px;
}
.p-px-65 {
  padding: 65px;
}
.p-px-66 {
  padding: 66px;
}
.p-px-67 {
  padding: 67px;
}
.p-px-68 {
  padding: 68px;
}
.p-px-69 {
  padding: 69px;
}
.p-px-70 {
  padding: 70px;
}
.p-px-71 {
  padding: 71px;
}
.p-px-72 {
  padding: 72px;
}
.p-px-73 {
  padding: 73px;
}
.p-px-74 {
  padding: 74px;
}
.p-px-75 {
  padding: 75px;
}
.p-px-76 {
  padding: 76px;
}
.p-px-77 {
  padding: 77px;
}
.p-px-78 {
  padding: 78px;
}
.p-px-79 {
  padding: 79px;
}
.p-px-80 {
  padding: 80px;
}
.p-px-81 {
  padding: 81px;
}
.p-px-82 {
  padding: 82px;
}
.p-px-83 {
  padding: 83px;
}
.p-px-84 {
  padding: 84px;
}
.p-px-85 {
  padding: 85px;
}
.p-px-86 {
  padding: 86px;
}
.p-px-87 {
  padding: 87px;
}
.p-px-88 {
  padding: 88px;
}
.p-px-89 {
  padding: 89px;
}
.p-px-90 {
  padding: 90px;
}
.p-px-91 {
  padding: 91px;
}
.p-px-92 {
  padding: 92px;
}
.p-px-93 {
  padding: 93px;
}
.p-px-94 {
  padding: 94px;
}
.p-px-95 {
  padding: 95px;
}
.p-px-96 {
  padding: 96px;
}
.p-px-97 {
  padding: 97px;
}
.p-px-98 {
  padding: 98px;
}
.p-px-99 {
  padding: 99px;
}
.p-px-100 {
  padding: 100px;
}

/* Margin Utilities */

.m-px-1 {
  margin: 1px;
}
.m-px-2 {
  margin: 2px;
}
.m-px-3 {
  margin: 3px;
}
.m-px-4 {
  margin: 4px;
}
.m-px-5 {
  margin: 5px;
}
.m-px-6 {
  margin: 6px;
}
.m-px-7 {
  margin: 7px;
}
.m-px-8 {
  margin: 8px;
}
.m-px-9 {
  margin: 9px;
}
.m-px-10 {
  margin: 10px;
}
.m-px-11 {
  margin: 11px;
}
.m-px-12 {
  margin: 12px;
}
.m-px-13 {
  margin: 13px;
}
.m-px-14 {
  margin: 14px;
}
.m-px-15 {
  margin: 15px;
}
.m-px-16 {
  margin: 16px;
}
.m-px-17 {
  margin: 17px;
}
.m-px-18 {
  margin: 18px;
}
.m-px-19 {
  margin: 19px;
}
.m-px-20 {
  margin: 20px;
}
.m-px-21 {
  margin: 21px;
}
.m-px-22 {
  margin: 22px;
}
.m-px-23 {
  margin: 23px;
}
.m-px-24 {
  margin: 24px;
}
.m-px-25 {
  margin: 25px;
}
.m-px-26 {
  margin: 26px;
}
.m-px-27 {
  margin: 27px;
}
.m-px-28 {
  margin: 28px;
}
.m-px-29 {
  margin: 29px;
}
.m-px-30 {
  margin: 30px;
}
.m-px-31 {
  margin: 31px;
}
.m-px-32 {
  margin: 32px;
}
.m-px-33 {
  margin: 33px;
}
.m-px-34 {
  margin: 34px;
}
.m-px-35 {
  margin: 35px;
}
.m-px-36 {
  margin: 36px;
}
.m-px-37 {
  margin: 37px;
}
.m-px-38 {
  margin: 38px;
}
.m-px-39 {
  margin: 39px;
}
.m-px-40 {
  margin: 40px;
}
.m-px-41 {
  margin: 41px;
}
.m-px-42 {
  margin: 42px;
}
.m-px-43 {
  margin: 43px;
}
.m-px-44 {
  margin: 44px;
}
.m-px-45 {
  margin: 45px;
}
.m-px-46 {
  margin: 46px;
}
.m-px-47 {
  margin: 47px;
}
.m-px-48 {
  margin: 48px;
}
.m-px-49 {
  margin: 49px;
}
.m-px-50 {
  margin: 50px;
}
.m-px-51 {
  margin: 51px;
}
.m-px-52 {
  margin: 52px;
}
.m-px-53 {
  margin: 53px;
}
.m-px-54 {
  margin: 54px;
}
.m-px-55 {
  margin: 55px;
}
.m-px-56 {
  margin: 56px;
}
.m-px-57 {
  margin: 57px;
}
.m-px-58 {
  margin: 58px;
}
.m-px-59 {
  margin: 59px;
}
.m-px-60 {
  margin: 60px;
}
.m-px-61 {
  margin: 61px;
}
.m-px-62 {
  margin: 62px;
}
.m-px-63 {
  margin: 63px;
}
.m-px-64 {
  margin: 64px;
}
.m-px-65 {
  margin: 65px;
}
.m-px-66 {
  margin: 66px;
}
.m-px-67 {
  margin: 67px;
}
.m-px-68 {
  margin: 68px;
}
.m-px-69 {
  margin: 69px;
}
.m-px-70 {
  margin: 70px;
}
.m-px-71 {
  margin: 71px;
}
.m-px-72 {
  margin: 72px;
}
.m-px-73 {
  margin: 73px;
}
.m-px-74 {
  margin: 74px;
}
.m-px-75 {
  margin: 75px;
}
.m-px-76 {
  margin: 76px;
}
.m-px-77 {
  margin: 77px;
}
.m-px-78 {
  margin: 78px;
}
.m-px-79 {
  margin: 79px;
}
.m-px-80 {
  margin: 80px;
}
.m-px-81 {
  margin: 81px;
}
.m-px-82 {
  margin: 82px;
}
.m-px-83 {
  margin: 83px;
}
.m-px-84 {
  margin: 84px;
}
.m-px-85 {
  margin: 85px;
}
.m-px-86 {
  margin: 86px;
}
.m-px-87 {
  margin: 87px;
}
.m-px-88 {
  margin: 88px;
}
.m-px-89 {
  margin: 89px;
}
.m-px-90 {
  margin: 90px;
}
.m-px-91 {
  margin: 91px;
}
.m-px-92 {
  margin: 92px;
}
.m-px-93 {
  margin: 93px;
}
.m-px-94 {
  margin: 94px;
}
.m-px-95 {
  margin: 95px;
}
.m-px-96 {
  margin: 96px;
}
.m-px-97 {
  margin: 97px;
}
.m-px-98 {
  margin: 98px;
}
.m-px-99 {
  margin: 99px;
}
.m-px-100 {
  margin: 100px;
}

/* Gap Utilities */

.g-px-1 {
  gap: 1px;
}
.g-px-2 {
  gap: 2px;
}
.g-px-3 {
  gap: 3px;
}
.g-px-4 {
  gap: 4px;
}
.g-px-5 {
  gap: 5px;
}
.g-px-6 {
  gap: 6px;
}
.g-px-7 {
  gap: 7px;
}
.g-px-8 {
  gap: 8px;
}
.g-px-9 {
  gap: 9px;
}
.g-px-10 {
  gap: 10px;
}
.g-px-11 {
  gap: 11px;
}
.g-px-12 {
  gap: 12px;
}
.g-px-13 {
  gap: 13px;
}
.g-px-14 {
  gap: 14px;
}
.g-px-15 {
  gap: 15px;
}
.g-px-16 {
  gap: 16px;
}
.g-px-17 {
  gap: 17px;
}
.g-px-18 {
  gap: 18px;
}
.g-px-19 {
  gap: 19px;
}
.g-px-20 {
  gap: 20px;
}
.g-px-21 {
  gap: 21px;
}
.g-px-22 {
  gap: 22px;
}
.g-px-23 {
  gap: 23px;
}
.g-px-24 {
  gap: 24px;
}
.g-px-25 {
  gap: 25px;
}
.g-px-26 {
  gap: 26px;
}
.g-px-27 {
  gap: 27px;
}
.g-px-28 {
  gap: 28px;
}
.g-px-29 {
  gap: 29px;
}
.g-px-30 {
  gap: 30px;
}
.g-px-31 {
  gap: 31px;
}
.g-px-32 {
  gap: 32px;
}
.g-px-33 {
  gap: 33px;
}
.g-px-34 {
  gap: 34px;
}
.g-px-35 {
  gap: 35px;
}
.g-px-36 {
  gap: 36px;
}
.g-px-37 {
  gap: 37px;
}
.g-px-38 {
  gap: 38px;
}
.g-px-39 {
  gap: 39px;
}
.g-px-40 {
  gap: 40px;
}
.g-px-41 {
  gap: 41px;
}
.g-px-42 {
  gap: 42px;
}
.g-px-43 {
  gap: 43px;
}
.g-px-44 {
  gap: 44px;
}
.g-px-45 {
  gap: 45px;
}
.g-px-46 {
  gap: 46px;
}
.g-px-47 {
  gap: 47px;
}
.g-px-48 {
  gap: 48px;
}
.g-px-49 {
  gap: 49px;
}
.g-px-50 {
  gap: 50px;
}
.g-px-51 {
  gap: 51px;
}
.g-px-52 {
  gap: 52px;
}
.g-px-53 {
  gap: 53px;
}
.g-px-54 {
  gap: 54px;
}
.g-px-55 {
  gap: 55px;
}
.g-px-56 {
  gap: 56px;
}
.g-px-57 {
  gap: 57px;
}
.g-px-58 {
  gap: 58px;
}
.g-px-59 {
  gap: 59px;
}
.g-px-60 {
  gap: 60px;
}
.g-px-61 {
  gap: 61px;
}
.g-px-62 {
  gap: 62px;
}
.g-px-63 {
  gap: 63px;
}
.g-px-64 {
  gap: 64px;
}
.g-px-65 {
  gap: 65px;
}
.g-px-66 {
  gap: 66px;
}
.g-px-67 {
  gap: 67px;
}
.g-px-68 {
  gap: 68px;
}
.g-px-69 {
  gap: 69px;
}
.g-px-70 {
  gap: 70px;
}
.g-px-71 {
  gap: 71px;
}
.g-px-72 {
  gap: 72px;
}
.g-px-73 {
  gap: 73px;
}
.g-px-74 {
  gap: 74px;
}
.g-px-75 {
  gap: 75px;
}
.g-px-76 {
  gap: 76px;
}
.g-px-77 {
  gap: 77px;
}
.g-px-78 {
  gap: 78px;
}
.g-px-79 {
  gap: 79px;
}
.g-px-80 {
  gap: 80px;
}
.g-px-81 {
  gap: 81px;
}
.g-px-82 {
  gap: 82px;
}
.g-px-83 {
  gap: 83px;
}
.g-px-84 {
  gap: 84px;
}
.g-px-85 {
  gap: 85px;
}
.g-px-86 {
  gap: 86px;
}
.g-px-87 {
  gap: 87px;
}
.g-px-88 {
  gap: 88px;
}
.g-px-89 {
  gap: 89px;
}
.g-px-90 {
  gap: 90px;
}
.g-px-91 {
  gap: 91px;
}
.g-px-92 {
  gap: 92px;
}
.g-px-93 {
  gap: 93px;
}
.g-px-94 {
  gap: 94px;
}
.g-px-95 {
  gap: 95px;
}
.g-px-96 {
  gap: 96px;
}
.g-px-97 {
  gap: 97px;
}
.g-px-98 {
  gap: 98px;
}
.g-px-99 {
  gap: 99px;
}
.g-px-100 {
  gap: 100px;
}

/* Width Utilities */

.w-pr-1 {
  width: 1%;
}
.w-pr-2 {
  width: 2%;
}
.w-pr-3 {
  width: 3%;
}
.w-pr-4 {
  width: 4%;
}
.w-pr-5 {
  width: 5%;
}
.w-pr-6 {
  width: 6%;
}
.w-pr-7 {
  width: 7%;
}
.w-pr-8 {
  width: 8%;
}
.w-pr-9 {
  width: 9%;
}
.w-pr-10 {
  width: 10%;
}
.w-pr-11 {
  width: 11%;
}
.w-pr-12 {
  width: 12%;
}
.w-pr-13 {
  width: 13%;
}
.w-pr-14 {
  width: 14%;
}
.w-pr-15 {
  width: 15%;
}
.w-pr-16 {
  width: 16%;
}
.w-pr-17 {
  width: 17%;
}
.w-pr-18 {
  width: 18%;
}
.w-pr-19 {
  width: 19%;
}
.w-pr-20 {
  width: 20%;
}
.w-pr-21 {
  width: 21%;
}
.w-pr-22 {
  width: 22%;
}
.w-pr-23 {
  width: 23%;
}
.w-pr-24 {
  width: 24%;
}
.w-pr-25 {
  width: 25%;
}
.w-pr-26 {
  width: 26%;
}
.w-pr-27 {
  width: 27%;
}
.w-pr-28 {
  width: 28%;
}
.w-pr-29 {
  width: 29%;
}
.w-pr-30 {
  width: 30%;
}
.w-pr-31 {
  width: 31%;
}
.w-pr-32 {
  width: 32%;
}
.w-pr-33 {
  width: 33%;
}
.w-pr-34 {
  width: 34%;
}
.w-pr-35 {
  width: 35%;
}
.w-pr-36 {
  width: 36%;
}
.w-pr-37 {
  width: 37%;
}
.w-pr-38 {
  width: 38%;
}
.w-pr-39 {
  width: 39%;
}
.w-pr-40 {
  width: 40%;
}
.w-pr-41 {
  width: 41%;
}
.w-pr-42 {
  width: 42%;
}
.w-pr-43 {
  width: 43%;
}
.w-pr-44 {
  width: 44%;
}
.w-pr-45 {
  width: 45%;
}
.w-pr-46 {
  width: 46%;
}
.w-pr-47 {
  width: 47%;
}
.w-pr-48 {
  width: 48%;
}
.w-pr-49 {
  width: 49%;
}
.w-pr-50 {
  width: 50%;
}
.w-pr-51 {
  width: 51%;
}
.w-pr-52 {
  width: 52%;
}
.w-pr-53 {
  width: 53%;
}
.w-pr-54 {
  width: 54%;
}
.w-pr-55 {
  width: 55%;
}
.w-pr-56 {
  width: 56%;
}
.w-pr-57 {
  width: 57%;
}
.w-pr-58 {
  width: 58%;
}
.w-pr-59 {
  width: 59%;
}
.w-pr-60 {
  width: 60%;
}
.w-pr-61 {
  width: 61%;
}
.w-pr-62 {
  width: 62%;
}
.w-pr-63 {
  width: 63%;
}
.w-pr-64 {
  width: 64%;
}
.w-pr-65 {
  width: 65%;
}
.w-pr-66 {
  width: 66%;
}
.w-pr-67 {
  width: 67%;
}
.w-pr-68 {
  width: 68%;
}
.w-pr-69 {
  width: 69%;
}
.w-pr-70 {
  width: 70%;
}
.w-pr-71 {
  width: 71%;
}
.w-pr-72 {
  width: 72%;
}
.w-pr-73 {
  width: 73%;
}
.w-pr-74 {
  width: 74%;
}
.w-pr-75 {
  width: 75%;
}
.w-pr-76 {
  width: 76%;
}
.w-pr-77 {
  width: 77%;
}
.w-pr-78 {
  width: 78%;
}
.w-pr-79 {
  width: 79%;
}
.w-pr-80 {
  width: 80%;
}
.w-pr-81 {
  width: 81%;
}
.w-pr-82 {
  width: 82%;
}
.w-pr-83 {
  width: 83%;
}
.w-pr-84 {
  width: 84%;
}
.w-pr-85 {
  width: 85%;
}
.w-pr-86 {
  width: 86%;
}
.w-pr-87 {
  width: 87%;
}
.w-pr-88 {
  width: 88%;
}
.w-pr-89 {
  width: 89%;
}
.w-pr-90 {
  width: 90%;
}
.w-pr-91 {
  width: 91%;
}
.w-pr-92 {
  width: 92%;
}
.w-pr-93 {
  width: 93%;
}
.w-pr-94 {
  width: 94%;
}
.w-pr-95 {
  width: 95%;
}
.w-pr-96 {
  width: 96%;
}
.w-pr-97 {
  width: 97%;
}
.w-pr-98 {
  width: 98%;
}
.w-pr-99 {
  width: 99%;
}
.w-pr-100 {
  width: 100%;
}

/* Height Utilities */

.h-pr-1 {
  height: 1%;
}
.h-pr-2 {
  height: 2%;
}
.h-pr-3 {
  height: 3%;
}
.h-pr-4 {
  height: 4%;
}
.h-pr-5 {
  height: 5%;
}
.h-pr-6 {
  height: 6%;
}
.h-pr-7 {
  height: 7%;
}
.h-pr-8 {
  height: 8%;
}
.h-pr-9 {
  height: 9%;
}
.h-pr-10 {
  height: 10%;
}
.h-pr-11 {
  height: 11%;
}
.h-pr-12 {
  height: 12%;
}
.h-pr-13 {
  height: 13%;
}
.h-pr-14 {
  height: 14%;
}
.h-pr-15 {
  height: 15%;
}
.h-pr-16 {
  height: 16%;
}
.h-pr-17 {
  height: 17%;
}
.h-pr-18 {
  height: 18%;
}
.h-pr-19 {
  height: 19%;
}
.h-pr-20 {
  height: 20%;
}
.h-pr-21 {
  height: 21%;
}
.h-pr-22 {
  height: 22%;
}
.h-pr-23 {
  height: 23%;
}
.h-pr-24 {
  height: 24%;
}
.h-pr-25 {
  height: 25%;
}
.h-pr-26 {
  height: 26%;
}
.h-pr-27 {
  height: 27%;
}
.h-pr-28 {
  height: 28%;
}
.h-pr-29 {
  height: 29%;
}
.h-pr-30 {
  height: 30%;
}
.h-pr-31 {
  height: 31%;
}
.h-pr-32 {
  height: 32%;
}
.h-pr-33 {
  height: 33%;
}
.h-pr-34 {
  height: 34%;
}
.h-pr-35 {
  height: 35%;
}
.h-pr-36 {
  height: 36%;
}
.h-pr-37 {
  height: 37%;
}
.h-pr-38 {
  height: 38%;
}
.h-pr-39 {
  height: 39%;
}
.h-pr-40 {
  height: 40%;
}
.h-pr-41 {
  height: 41%;
}
.h-pr-42 {
  height: 42%;
}
.h-pr-43 {
  height: 43%;
}
.h-pr-44 {
  height: 44%;
}
.h-pr-45 {
  height: 45%;
}
.h-pr-46 {
  height: 46%;
}
.h-pr-47 {
  height: 47%;
}
.h-pr-48 {
  height: 48%;
}
.h-pr-49 {
  height: 49%;
}
.h-pr-50 {
  height: 50%;
}
.h-pr-51 {
  height: 51%;
}
.h-pr-52 {
  height: 52%;
}
.h-pr-53 {
  height: 53%;
}
.h-pr-54 {
  height: 54%;
}
.h-pr-55 {
  height: 55%;
}
.h-pr-56 {
  height: 56%;
}
.h-pr-57 {
  height: 57%;
}
.h-pr-58 {
  height: 58%;
}
.h-pr-59 {
  height: 59%;
}
.h-pr-60 {
  height: 60%;
}
.h-pr-61 {
  height: 61%;
}
.h-pr-62 {
  height: 62%;
}
.h-pr-63 {
  height: 63%;
}
.h-pr-64 {
  height: 64%;
}
.h-pr-65 {
  height: 65%;
}
.h-pr-66 {
  height: 66%;
}
.h-pr-67 {
  height: 67%;
}
.h-pr-68 {
  height: 68%;
}
.h-pr-69 {
  height: 69%;
}
.h-pr-70 {
  height: 70%;
}
.h-pr-71 {
  height: 71%;
}
.h-pr-72 {
  height: 72%;
}
.h-pr-73 {
  height: 73%;
}
.h-pr-74 {
  height: 74%;
}
.h-pr-75 {
  height: 75%;
}
.h-pr-76 {
  height: 76%;
}
.h-pr-77 {
  height: 77%;
}
.h-pr-78 {
  height: 78%;
}
.h-pr-79 {
  height: 79%;
}
.h-pr-80 {
  height: 80%;
}
.h-pr-81 {
  height: 81%;
}
.h-pr-82 {
  height: 82%;
}
.h-pr-83 {
  height: 83%;
}
.h-pr-84 {
  height: 84%;
}
.h-pr-85 {
  height: 85%;
}
.h-pr-86 {
  height: 86%;
}
.h-pr-87 {
  height: 87%;
}
.h-pr-88 {
  height: 88%;
}
.h-pr-89 {
  height: 89%;
}
.h-pr-90 {
  height: 90%;
}
.h-pr-91 {
  height: 91%;
}
.h-pr-92 {
  height: 92%;
}
.h-pr-93 {
  height: 93%;
}
.h-pr-94 {
  height: 94%;
}
.h-pr-95 {
  height: 95%;
}
.h-pr-96 {
  height: 96%;
}
.h-pr-97 {
  height: 97%;
}
.h-pr-98 {
  height: 98%;
}
.h-pr-99 {
  height: 99%;
}
.h-pr-100 {
  height: 100%;
}

/* Standard pointer */

.cursor-pointer {
  cursor: pointer;
}

/* Help cursor */
.cursor-help {
  cursor: help;
}

/* Wait cursor */
.cursor-wait {
  cursor: wait;
}

/* Text selection cursor */
.cursor-text {
  cursor: text;
}

/* Disabled cursor */
.cursor-not-allowed {
  cursor: not-allowed;
}

/* Move cursor */
.cursor-move {
  cursor: move;
}

/* Crosshair cursor */
.cursor-crosshair {
  cursor: crosshair;
}

/* Zoom-in cursor */
.cursor-zoom-in {
  cursor: zoom-in;
}

/* Zoom-out cursor */
.cursor-zoom-out {
  cursor: zoom-out;
}

/* Grab cursor (useful for drag and drop interfaces) */
.cursor-grab {
  cursor: grab;
}

/* Grabbing cursor (useful for indicating that an item is being dragged) */
.cursor-grabbing {
  cursor: grabbing;
}

/* Pointer to indicate a link */
.cursor-pointer {
  cursor: pointer;
}

/* Default cursor */
.cursor-default {
  cursor: default;
}

/**************************************************************************************
 FEATURES OF VERSION -2 
 **************************************************************************************/

/* LINE CLAMP */

.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
.line-clamp-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}